## Precipitation Data Preprocessing

- Extracting hourly precipitation data between 10pm and 11pm for days with SAR images.
- Precipitation data from 2015 to 8 June 2019 obtained from [NOAA Data Tools](https://www.ncdc.noaa.gov/cdo-web/datatools/lcd) through online request made. 
- Documentation can be found [here](https://www1.ncdc.noaa.gov/pub/data/cdo/documentation/LCD_documentation.pdf).

Importing the necessary packages:

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weather_2015_8June2019.csv')
df.head()

C:\Users\rachelsim\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,5,7,8,11,14,30,31,32,33,34,41,42,43,44,48,49,51,52,53,54,56,58,59,69,72,73,75,76,88,89,95,96,97,98,99,100,101,102,103,104,105,106,107,117,119,123) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STATION,DATE,REPORT_TYPE,SOURCE,AWND,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,...,ShortDurationPrecipitationValue060,ShortDurationPrecipitationValue080,ShortDurationPrecipitationValue100,ShortDurationPrecipitationValue120,ShortDurationPrecipitationValue150,ShortDurationPrecipitationValue180,Sunrise,Sunset,TStorms,WindEquipmentChangeDate
0,72505394728,2015-01-01T00:51:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,72505394728,2015-01-01T01:51:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,72505394728,2015-01-01T02:51:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,72505394728,2015-01-01T03:51:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,72505394728,2015-01-01T04:51:00,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.DATE = pd.to_datetime(df.DATE)
df['TIME'] = df.DATE.dt.time
df.DATE = df.DATE.dt.date
df.DATE = df.DATE.astype(str)
df.head()

,STATION,DATE,REPORT_TYPE,SOURCE,AWND,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,...,ShortDurationPrecipitationValue080,ShortDurationPrecipitationValue100,ShortDurationPrecipitationValue120,ShortDurationPrecipitationValue150,ShortDurationPrecipitationValue180,Sunrise,Sunset,TStorms,WindEquipmentChangeDate,TIME
0,72505394728,2015-01-01,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00:51:00
1,72505394728,2015-01-01,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01:51:00
2,72505394728,2015-01-01,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02:51:00
3,72505394728,2015-01-01,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:51:00
4,72505394728,2015-01-01,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04:51:00

In [4]:
df['HourlyPrecipitation'].unique()

array(['0.00', nan, 'T', '0.01', '0.04', '0.02', '0.05', '0.07', '0.06',
       '0.10', '0.12', '0.08', '0.11', '0.03', '0.15', '0.09', '0.17',
       '0.28', '0.18', '0.24', '0.23', '0.16', '0.31', '0.20', '0.25',
       '0.29', '0.14', '0.19', '0.01s', '0.13', '0.05s', '0.04s', '0.03s',
       '0.26', '0.40', '0.22', '0.46', '0.50', '0.97', '0.21', '0.06s',
       '0.02s', '0.16s', '0.27', '0.30', '0.38', '0.39s', '0.37', '0.39',
       '0.36', '0.35', '1.13', '1.28', '0.41', '0.34', '0.09s', '0.60s',
       '0.74', '0.79', '0.11s', '0.59', '0.63', '0.32', '0.58', '0.14s',
       '0.81s', '0.17s', '0.47', '0.44', '0.45', '0.62', '0.28s', '0.33',
       '0.51', '0.57', '0.61', '0.82', '0.54', '0.42', '0.43s', '1.21',
       '1.22', '1.15', '0.55', '0.67', '0.52', '0.33s', '0.45s', '0.96s',
       '0.43', '0.69', '0.10s', '0.15s', '0.48', '0.07s', '0.91', '0.87',
       '0.49', '0.30s', '0.08s', '0.52s', '0.27s', '0.68', '0.85',
       '0.12s', '0.36s', '0.21s', '0.83', '0.22s', '0.72', '0.96', '0.60',
       '0.64', '0.88', '0.56', '0.80s', '1.17', '1.05', '0.50s', '0.24s',
       '0.98', '1.78', '1.67', '0.26s', '0.18s', '0.19s', '0.53', '0.48s',
       '1.45', '0.92', '0.95', '0.13s', '0.58s', '0.65', '0.80', '1.07',
       '1.37', '1.12', '0.99', '1.00', '1.08', '0.86', '0.70', '1.55',
       '1.57', '1.69', '0.73', '0.71', '0.89', '0.29s', '0.41s', '0.66',
       '0.20s', '1.32', '1.01', '0.93', '1.09', '1.46', '1.24', '0.25s',
       '0.94', '0.84', '0.40s', '1.16', '0.46s', '1.27', '0.57s'],
      dtype=object)

In [5]:
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace('T', '0', regex=False)
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].str.replace('s', '', regex=False)
df['HourlyPrecipitation'].fillna(0.00, inplace=True)
df['HourlyPrecipitation'] = df['HourlyPrecipitation'].astype(float)

In [6]:
df['HourlyPrecipitation'].unique()

array([0.  , 0.01, 0.04, 0.02, 0.05, 0.07, 0.06, 0.1 , 0.12, 0.08, 0.11,
       0.03, 0.15, 0.09, 0.17, 0.28, 0.18, 0.24, 0.23, 0.16, 0.31, 0.2 ,
       0.25, 0.29, 0.14, 0.19, 0.13, 0.26, 0.4 , 0.22, 0.46, 0.5 , 0.97,
       0.21, 0.27, 0.3 , 0.38, 0.39, 0.37, 0.36, 0.35, 1.13, 1.28, 0.41,
       0.34, 0.6 , 0.74, 0.79, 0.59, 0.63, 0.32, 0.58, 0.81, 0.47, 0.44,
       0.45, 0.62, 0.33, 0.51, 0.57, 0.61, 0.82, 0.54, 0.42, 0.43, 1.21,
       1.22, 1.15, 0.55, 0.67, 0.52, 0.96, 0.69, 0.48, 0.91, 0.87, 0.49,
       0.68, 0.85, 0.83, 0.72, 0.64, 0.88, 0.56, 0.8 , 1.17, 1.05, 0.98,
       1.78, 1.67, 0.53, 1.45, 0.92, 0.95, 0.65, 1.07, 1.37, 1.12, 0.99,
       1.  , 1.08, 0.86, 0.7 , 1.55, 1.57, 1.69, 0.73, 0.71, 0.89, 0.66,
       1.32, 1.01, 0.93, 1.09, 1.46, 1.24, 0.94, 0.84, 1.16, 1.27])

In [7]:
dates = pd.read_csv('S1_sensingDate.csv', index_col='Unnamed: 0')
dates.rename(columns={'date': 'DATE'}, inplace=True)
dates.DATE = dates.DATE.astype(str)
dates.head()

         DATE
0  2019-06-07
1  2019-05-26
2  2019-05-14
3  2019-05-02
4  2019-04-20

In [26]:
precipitation = pd.merge(df, dates, on='DATE', how='inner')
precipitation.shape

(9964, 125)

In [33]:
precipitation['HOUR'] = ''

for i in range(len(precipitation)):
    precipitation['HOUR'][i] = precipitation.TIME.astype(str)[i][:2]
    
precipitation.head()

C:\Users\rachelsim\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,STATION,DATE,REPORT_TYPE,SOURCE,AWND,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,...,ShortDurationPrecipitationValue100,ShortDurationPrecipitationValue120,ShortDurationPrecipitationValue150,ShortDurationPrecipitationValue180,Sunrise,Sunset,TStorms,WindEquipmentChangeDate,TIME,HOUR
0,72505394728,2015-03-12,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00:51:00,00
1,72505394728,2015-03-12,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01:51:00,01
2,72505394728,2015-03-12,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02:51:00,02
3,72505394728,2015-03-12,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:51:00,03
4,72505394728,2015-03-12,FM-15,7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04:51:00,04

In [48]:
precipitation['HOUR'] = precipitation['HOUR'].astype(int)
sample = precipitation[precipitation['HOUR'] >= 22]
sample.sort_values('HourlyPrecipitation', ascending=False)[['STATION', 'DATE', 'HourlyPrecipitation']].head(30)

          STATION        DATE  HourlyPrecipitation
674   74486094789  2016-07-04                 0.39
673   74486094789  2016-07-04                 0.30
638   72503014732  2016-07-04                 0.30
5916  72505394728  2018-04-25                 0.27
600   72505394728  2016-07-04                 0.25
636   72503014732  2016-07-04                 0.22
635   72503014732  2016-07-04                 0.18
5914  72505394728  2018-04-25                 0.16
8943  72503014732  2019-03-03                 0.14
8986  74486094789  2019-03-03                 0.14
672   74486094789  2016-07-04                 0.13
633   72503014732  2016-07-04                 0.13
8899  72505394728  2019-03-03                 0.13
597   72505394728  2016-07-04                 0.09
8984  74486094789  2019-03-03                 0.08
8898  72505394728  2019-03-03                 0.07
8982  74486094789  2019-03-03                 0.07
671   74486094789  2016-07-04                 0.06
634   72503014732  2016-07-04                 0.06
8981  74486094789  2019-03-03                 0.06
9710  72503014732  2019-05-14                 0.05
8897  72505394728  2019-03-03                 0.05
599   72505394728  2016-07-04                 0.05
1193  74486094789  2016-09-06                 0.05
8983  74486094789  2019-03-03                 0.05
596   72505394728  2016-07-04                 0.05
8942  72503014732  2019-03-03                 0.05
8894  72505394728  2019-03-03                 0.05
1192  74486094789  2016-09-06                 0.05
9662  72505394728  2019-05-14                 0.04

In [8]:
df.columns[:70]

Index(['STATION', 'DATE', 'REPORT_TYPE', 'SOURCE', 'AWND', 'BackupDirection',
       'BackupDistance', 'BackupDistanceUnit', 'BackupElements',
       'BackupElevation', 'BackupElevationUnit', 'BackupEquipment',
       'BackupLatitude', 'BackupLongitude', 'BackupName', 'CDSD', 'CLDD',
       'DSNW', 'DailyAverageDewPointTemperature',
       'DailyAverageDryBulbTemperature', 'DailyAverageRelativeHumidity',
       'DailyAverageSeaLevelPressure', 'DailyAverageStationPressure',
       'DailyAverageWetBulbTemperature', 'DailyAverageWindSpeed',
       'DailyCoolingDegreeDays', 'DailyDepartureFromNormalAverageTemperature',
       'DailyHeatingDegreeDays', 'DailyMaximumDryBulbTemperature',
       'DailyMinimumDryBulbTemperature', 'DailyPeakWindDirection',
       'DailyPeakWindSpeed', 'DailyPrecipitation', 'DailySnowDepth',
       'DailySnowfall', 'DailySustainedWindDirection',
       'DailySustainedWindSpeed', 'DailyWeather', 'HDSD', 'HTDD', 'HeavyFog',
       'HourlyAltimeterSetting', 'HourlyDewPointTemperature',
       'HourlyDryBulbTemperature', 'HourlyPrecipitation',
       'HourlyPresentWeatherType', 'HourlyPressureChange',
       'HourlyPressureTendency', 'HourlyRelativeHumidity',
       'HourlySeaLevelPressure', 'HourlySkyConditions',
       'HourlyStationPressure', 'HourlyVisibility', 'HourlyWetBulbTemperature',
       'HourlyWindDirection', 'HourlyWindGustSpeed', 'HourlyWindSpeed',
       'MonthlyAverageRH', 'MonthlyDaysWithGT001Precip',
       'MonthlyDaysWithGT010Precip', 'MonthlyDaysWithGT32Temp',
       'MonthlyDaysWithGT90Temp', 'MonthlyDaysWithLT0Temp',
       'MonthlyDaysWithLT32Temp',
       'MonthlyDepartureFromNormalAverageTemperature',
       'MonthlyDepartureFromNormalCoolingDegreeDays',
       'MonthlyDepartureFromNormalHeatingDegreeDays',
       'MonthlyDepartureFromNormalMaximumTemperature',
       'MonthlyDepartureFromNormalMinimumTemperature',
       'MonthlyDepartureFromNormalPrecipitation'],
      dtype='object')

In [9]:
df.columns[70:]

Index(['MonthlyDewpointTemperature', 'MonthlyGreatestPrecip',
       'MonthlyGreatestPrecipDate', 'MonthlyGreatestSnowDepth',
       'MonthlyGreatestSnowDepthDate', 'MonthlyGreatestSnowfall',
       'MonthlyGreatestSnowfallDate', 'MonthlyMaxSeaLevelPressureValue',
       'MonthlyMaxSeaLevelPressureValueDate',
       'MonthlyMaxSeaLevelPressureValueTime', 'MonthlyMaximumTemperature',
       'MonthlyMeanTemperature', 'MonthlyMinSeaLevelPressureValue',
       'MonthlyMinSeaLevelPressureValueDate',
       'MonthlyMinSeaLevelPressureValueTime', 'MonthlyMinimumTemperature',
       'MonthlySeaLevelPressure', 'MonthlyStationPressure',
       'MonthlyTotalLiquidPrecipitation', 'MonthlyTotalSnowfall',
       'MonthlyWetBulb', 'NormalsCoolingDegreeDay', 'NormalsHeatingDegreeDay',
       'REM', 'REPORT_TYPE.1', 'SOURCE.1', 'ShortDurationEndDate005',
       'ShortDurationEndDate010', 'ShortDurationEndDate015',
       'ShortDurationEndDate020', 'ShortDurationEndDate030',
       'ShortDurationEndDate045', 'ShortDurationEndDate060',
       'ShortDurationEndDate080', 'ShortDurationEndDate100',
       'ShortDurationEndDate120', 'ShortDurationEndDate150',
       'ShortDurationEndDate180', 'ShortDurationPrecipitationValue005',
       'ShortDurationPrecipitationValue010',
       'ShortDurationPrecipitationValue015',
       'ShortDurationPrecipitationValue020',
       'ShortDurationPrecipitationValue030',
       'ShortDurationPrecipitationValue045',
       'ShortDurationPrecipitationValue060',
       'ShortDurationPrecipitationValue080',
       'ShortDurationPrecipitationValue100',
       'ShortDurationPrecipitationValue120',
       'ShortDurationPrecipitationValue150',
       'ShortDurationPrecipitationValue180', 'Sunrise', 'Sunset', 'TStorms',
       'WindEquipmentChangeDate'],
      dtype='object')